<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All users</h2>
    <ol>
        <% for( let user of allUsers ) { %>
            <li><%= user.name %></li>
        <% } %>
    </ol>
</body>
</html>